.app-top-menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.app-top-menu-toolbar .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.app-top-menu-toolbar .logo-img {
    display: block;
    height: 60px;
    width: auto;
    max-width: 100%;
  
}

.app-top-menu-toolbar .spacer {
    flex: 1 1 auto
}

.app-top-menu-toolbar a {
    text-decoration: none;
    margin: auto
}