.home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    flex-wrap: wrap;

    .hero-text {
        max-width: 500px;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.2;

    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .hero-actions button {
        margin-right: 1rem;
    }

    .hero-image {
        flex: 1 1 400px;
        display: flex;
        justify-content: center;

        img {
            max-width: 50%;
        }
    }
}

footer {
    background: #e2e2e2;
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: #616161;
}